body{
    /* background-color: rgb(212, 218, 219);  */
    background-size: cover;   
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-image: url(../img/cinza.jpg); 
    background-repeat: no-repeat;
    
}

.backend{
    width: 400%;
    height: 100%;
    background-image: url(./img/background-site.jpg);    
    
}

.carousel-item img {
    padding: 15px;
    max-height: 600px;
  }

  #second-corousel img {    
    max-height: 400px;
  }

  .colecao{
    padding-top: 100px;
    color: rgb(143, 142, 142);
  }

  .logo{    
    padding: 50px 0px 5px 0px;    
  }
  /* .logo img{
    max-width: 1000%;
    max-height: 1000%;
  } */

  .produto-item{
    width: 250px;
    padding: 0px 30px;
    float: left;
  }

  #lista-produtos{
    font-size: 20px;
  }
   
  footer{
    clear: both;
    padding: 30px;    
  }

  footer img{
    width: 50px;
    height: 50px;
    padding: 4px;    
  }

  #table-contatos{
    font-size: 18px;
    cursor: pointer;
  }

  /* #grid-contatos{
    cursor: pointer;
  } */
