<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../img/assets/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/style.css">
  <script src="./model/mock_database.js"></script>
  <!-- <script src="mock.json"></script> -->
  <script src="./controlers/modals.js"></script>
  <script src="./controlers/controlers_contact.js"></script>
  <script src="./controlers/create_contact.js"></script>
  <script src="./controlers/read_contact.js"></script>
  <script src="./controlers/update_contact.js"></script>
  <script src="./controlers/delete_contact.js"></script>
  <title>BabyLogo-Cadastro</title>
</head>

<body onload="init()">

  <div class="row d-flex justify-content-center logo">
    <img src="../img/índice-removebg-preview.png" alt="logo">
  </div>
  <div class="container">
    <!-- Navbar -->
    <div class="row">
      <a href="/home.html" class="col-sm-2 offset-1 text-secondary" role="button">Home</a>
      <a href="../views/cadastro.html" class="col-sm-2 offset-1 text-secondary" role="button">Cadastro</a>
      <a href="../views/catalogo.html" class="col-sm-2 offset-1 text-secondary" role="button">Catálogo</a>
      <a href="../views/team.html" class="col-sm-2  offset-1 text-secondary" role="button">Quem Somos</a>
    </div>
    <hr>
  </div>

  <!-- block content -->
  <div class="container">
    <div class="row p-4 justify-content-center">
      <h1>Produtos Cadastrados</h1>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Cadastrar
      Produto</button>
    <div class="row d-flex justify-content-center">
      <div id="lista-produtos">
        <div class="row">
          <div class="col-sm-12">
            <table id="grid-contatos" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Sobrenome</th>
                  <th scope="col">Email</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Preço (R$)</th>
                  <th scope="col">Descrição</th>
                </tr>
              </thead>
              <tbody id="table-contatos">
                <tr>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal form add -->
  <div class="modal fade bd-example-modal-lg" id="Modalform" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Cadastrar Produto</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form id="form-contato">
          <div class="form-group">
            <!-- <label for="inputId">Id</label> -->
            <input type="hidden" class="form-control" id="inputId" placeholder="ID" disabled>
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput1">Nome *</label>
            <input type="text" class="form-control" id="inputNome" required placeholder="Digite aqui seu nome">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput2">Sobrenome *</label>
            <input type="text" class="form-control" id="inputSobrenome" required
              placeholder="Digite aqui seu sobrenome">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput3">Email *</label>
            <input type="email" class="form-control" id="inputEmail" required placeholder="Informe o seu telefone">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput4">Nome do Produto *</label>
            <input type="text" class="form-control" id="inputNomeprod" required
              placeholder="Digite aqui o nome do produto">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput5">Preço do Produto *</label>
            <input type="text" class="form-control" id="inputPrecoprod" required
              placeholder="Especifique o preço que deseja vender o produto">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlTextarea6">Descrição do Produto:</label>
            <textarea class="form-control" id="inputDescricao" rows="7"></textarea>
          </div>


          <div class="col-sm-12 p-2">
            <input type="button" class="btn btn-success" id="btnInsert" value="Salvar" onclick="insertdata()" />
            <!-- <input type="button" class="btn btn-warning" id="btnUpdate" value="Alterar" onclick="updatedata()" />
              <input type="button" class="btn btn-danger" id="btnDelete" value="Excluir"> -->
            <input type="button" class="btn btn-secondary" id="btnClear" value="Limpar Dados" onclick="cleardata()">
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Modal form edit -->
  <div class="modal fade bd-example-modal-lg" id="Modalform1" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar Produto</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form id="form-contato">
          <div class="form-group">
            <!-- <label for="inputId">Id</label> -->
            <input type="hidden" class="form-control" id="inputId1" placeholder="ID" disabled>
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput1">Nome *</label>
            <input type="text" class="form-control" id="inputNome1" required placeholder="Digite aqui seu nome">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput2">Sobrenome *</label>
            <input type="text" class="form-control" id="inputSobrenome1" required
              placeholder="Digite aqui seu sobrenome">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput3">Email *</label>
            <input type="email" class="form-control" id="inputEmail1" required placeholder="Informe o seu telefone">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput4">Nome do Produto *</label>
            <input type="text" class="form-control" id="inputNomeprod1" required
              placeholder="Digite aqui o nome do produto">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlInput5">Preço do Produto *</label>
            <input type="text" class="form-control" id="inputPrecoprod1" required
              placeholder="Especifique o preço que deseja vender o produto">
          </div>
          <div class="form-group p-2">
            <label for="exampleFormControlTextarea6">Descrição do Produto:</label>
            <textarea class="form-control" id="inputDescricao1" rows="7"></textarea>
          </div>
          <div class="col-sm-12 p-2">
            <input type="button" class="btn btn-success" id="btnUpdate" value="Salvar" onclick="updatedata()" />
            <input type="button" class="btn btn-danger" id="btnDelete" value="Excluir">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal1 -->
  <div class="modal fade" id="ModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Atenção</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Por favor, preencha todos os campos do formulário corretamente!!!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal2 -->
  <div class="modal fade" id="ModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Atenção</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Produto cadastrado corretamente!!!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- endblock content -->

  <footer>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-2">
        <a href=""><img src="../img/facebook.png" alt="facebook"></a>
        <a href=""><img src="../img/twitter.png" alt="twiter"></a>
        <a href="https://github.com/julioreis-dev/puc_projeto1"><img src="../img/github.png" alt="github"></a>
      </div>
      <div class="col-sm-6 offset-0">
        <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, vitae!</small>
        <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, temporibus!</small>
      </div>
      <div class="col-sm-2">
        <div>
          <a class="link-light small text-secondary" href="#!">Privacy</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small text-secondary" href="#!">Terms</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small text-secondary" href="#!">Contact</a>
        </div>
      </div>
      <div>
        <br>
        <small class="text-secondary">Copyright &copy;
          <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a>PUC-MINAS / SISTEMA
            DE INFORMAÇÃO / GRUPO 3</a>
        </small class="text-secondary">
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
  <script src="mock_database.js"></script>
  <script>    

    function init() {
      exibeContatos();
      $("#grid-contatos").on("click", "tr", function (e) {
        let linhaContato = this;
        colunas = linhaContato.querySelectorAll("td");

        $("#inputId1").val(colunas[0].innerText);
        $("#inputNome1").val(colunas[1].innerText);
        $("#inputSobrenome1").val(colunas[2].innerText);
        $("#inputEmail1").val(colunas[3].innerText);
        $("#inputNomeprod1").val(colunas[4].innerText);
        $("#inputPrecoprod1").val(colunas[5].innerText);
        $("#inputDescricao1").val(colunas[6].innerText);
        $("#Modalform1").modal(
          {
            show: true
          }
        )

      });

      $("#btnDelete").click(function () {
        let campoId = $("#inputId1").val();
        if (campoId == "") {
          alert("Selecione um contato a ser excluído.");
          return;
        }
        deleteContato(parseInt(campoId));

        // Reexibe os contatos
        exibeContatos();

        // Limpa o formulario
        $("#form-contato")[0].reset();
      });

    }
  </script>
</body>

</html>